body{
    min-width: 1280px;
    min-height: 720px;
    /* background-color: #ffcdb4; */
}

h1{
    font-size: xx-large;
}

.main_css-container{
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    min-height: 40rem;
    background: whitesmoke;
    margin: 0 1.5rem 0.5rem 0;
    padding: 2rem;
}
